@use '@/shared/css/colors' as *;

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.spinner {
  border: 3px solid rgb(30 37 199 / 10%);
  border-top: 3px solid $element-vivid-blue;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  
  &.spinner-small {
    width: 20px;
    height: 20px;
  }
  
  &.spinner-medium {
    width: 40px;
    height: 40px;
  }
  
  &.spinner-large {
    width: 60px;
    height: 60px;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
