@use '@/shared/css/colors' as *;
@use '@/shared/css/sizes' as *;

.page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: $element-light-grey;
  overflow-y: auto;
}

.header {
  position: sticky;
  top: 0;
  margin-top: 22.5px;
  margin-bottom: 32.5px;
  z-index: 10;
  transition: margin-top 0.3s ease;
}

.header-collapsed {
  margin-top: 0;
}

.content {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.max-width-wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  width: calc($page-max-width - ($margin-horizontal-card * 2));
  margin: 0 auto;
}

.content-wrapper {
  width: 100%;
}