@use '@/shared/css/colors' as *;

.header-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 45px;
  color: $text-darker;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;

  & > div {
    width: 100%;
  }
}

.main-top {
  display: flex;
  justify-content: space-between;
}

.main-top-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: $text-dark-light;
}

.main-top-buttons {
  display: flex;
  gap: 8px;
}
