@use '@/common/css/colors' as *;

.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 1.5rem;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.navigation {
  a {
    text-decoration: none;
    
    &:hover {
      text-decoration: none;
    }
  }
}
