@use '@/common/css/colors' as *;

.auth-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.header-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 45px;
  color: $text-darker;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.navigation {
  a {
    text-decoration: none;
    
    &:hover {
      text-decoration: none;
    }
  }
}
