@use '@/common/css/colors' as *;

.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  gap: 2rem;

  .navigation {
    a {
      text-decoration: none;
      
      &:hover {
        text-decoration: none;
      }
    }
  }
}
