@use '@/shared/css/colors' as *;

.auth-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.auth-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 58px 48px;
  gap: 32px;
  width: 527px;
  background: $white;
  box-shadow: 0 24px 32px rgb(0 0 0 / 4%);
  border-radius: 40px;
}

.auth-logo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 10px;
  width: 52px;
  height: 52px;
  background:
    linear-gradient(
      360deg,
      rgb(35 35 35 / 0%) 50%,
      rgb(35 35 35 / 6%) 100%
    ),
    $white;
  box-shadow:
    0 0 0 2px $white,
    0 12px 8px rgb(0 0 0 / 3%);
  border-radius: 100px;
}

.auth-header {
  height: 44px;
  font-weight: 600;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: -0.015em;
  color: $text-dark;
}

.auth-subheader {
  height: 27px;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: $text-light-grey;
}

.auth-button {
  height: 54px;
  width: 100%;
  background:
    linear-gradient(
      0deg,
      rgb(255 255 255 / 0%) 0%,
      rgb(255 255 255 / 12%) 100%
    ),
    $element-vivid-blue;
  border: 1px solid $border-blue;
  box-shadow:
    0 8px 8px rgb(54 122 255 / 3%),
    inset 0 -2px 0 1px rgb(0 0 0 / 8%);
  border-radius: 12px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -0.01em;
}

.auth-or-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.auth-or {
  width: 29px;
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: $text-light-grey;
}

.auth-create-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.auth-create-text {
  color: $text-grey-darker;
}

.auth-create-link {
  color: $element-vivid-blue;
  text-decoration: underline;
  text-underline-offset: 3px;
  cursor: pointer;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.navigation {
  width: 100%;

  a {
    width: 100%;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}
