@use '@/shared/css/colors' as *;

.pagination {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
  flex-direction: row; // Explicitly set direction

  .pagination-caret {
    color: $text-light-grey;
    width: 30px;
    height: 30px;
    border-radius: 4px;
  }

  .pagination-caret:first-child {
    color: $text-light-grey;
    order: 1;
  }

  .pagination-pages {
    order: 2;
  }

  .pagination-caret:last-child {
    order: 3;
  }
}

.pagination-pages {
  display: flex;
  gap: 8px;
}
