@use '@/common/css/colors' as *;

.page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: $element-light-grey;
}

.header {
  margin-top: 22.5px;
  margin-bottom: 32.5px;
}

.content {
  flex: 1;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
