// App colors
$black: #000;
$white: #FFF;

// Typography
$font-family: 'Inter', system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, 'Helvetica Neue', arial, sans-serif;

// elements
$element-light-grey: #F3F3F3;
$element-grey: #C4C4C4;
$element-blue: #3C538E;
$element-vivid-blue: #242EDB;
$element-violet: #797FEA;
$element-grey-lighter: #969B9F;
$element-light: #D6D6D6;
$element-dark: #232323;

// text
$text-dark-light: #333;
$text-dark: $element-dark;
$text-darker: #202020;
$text-grey-even-lighter: #9C9C9C;
$text-grey-darker: #6C6C6C;
$text-grey-lighter: #BABABA;
$text-grey: #999;
$text-grey-lighter: $element-grey-lighter;
$text-light-grey: #B2B3B9;
$text-light: #EBF3EA;
$text-blue: $element-vivid-blue;

// borders
$border-light: #ECECEB;
$border-grey: #EDEDED;
$border-blue: #367AFF;
